@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
/*Reset*/
html{
    scroll-behavior: smooth;
}
body,h1,h2,p,ul{
    margin: 0;
    font-size: 62.5%;
    padding: 0;
    font: 1.6rem 'Oswald', sans-serif;
    font-weight: 200;
    list-style: none;
}
body{
    margin: 0;
    line-height: 1.6rem;
    text-rendering:optimizeLegibility;
    background-color: var(--color-secondary);
}
*{
    box-sizing: border-box;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: #222;
}

 input[type="submit"]{
    padding: 0;
    background-color: transparent;
    font-size: inherit;
    border: 0;
}
input{
    border: 0;
}
/*charte graphique couleur*/
:root{
    --color-initial:#fff;
    --color-primary:#202124;
    --color-secondary:#24292f;
    --color-textclassic: #bbbbbb;
    --color-primary-boosted: #0c0c0c;
}
header{
    text-align: center;
    max-width: 100%;
    background-color: var(--color-primary);
    padding: 0;
    margin: 0;
    color: var(--color-textclassic);
    margin-bottom: 2rem;
}
header>h1>img{
    max-width: 5rem;
    display: inline-block;
    margin-right: 2rem;
}
header>h1{
    font-size: 4rem;
    display: inline-block;
    color: var(--color-initial);
}
main{
    width: 120rem;
    max-width: 100%;
    color: var(--color-textclassic);
}
main>section>h2{
    text-align: center;
    max-width: 100%;
    font-size: 2rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}
main>section>p{
    font-family: sans-serif;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    border: solid 0.1rem var(--color-textclassic);
    padding: 1rem;
    line-height: 2rem;
}
.image-selec{
    margin-bottom: 5rem;
}
.image-selec ul{
    display: grid;
    max-width: 80rem;
    margin: 0 auto;
    grid-template-columns: repeat(5, 3fr);
    gap: 1rem;
    
}
.image-selec ul li{
    list-style: none;
}
.image-selec ul li img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;

}
.bouton{
    max-width: 100%;
    text-align: center;
    margin-bottom: .1rem;
    line-height: 4.5rem;
    color: var(--color-initial);
    border: solid var(--color-initial) .1rem;
    background-color: var(--color-primary);
    display: block;
    margin: 0 auto;
    width: 20rem;
}
footer{
    text-align: center;
    max-width: 100%;
    background-color: var(--color-primary);
    color: var(--color-textclassic);
    margin: 5rem 0 0;
    padding: 1rem;
}
/*Formulaire*/
.form h2{
    font-family: sans-serif;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    border-bottom: solid 0.1rem var(--color-primary);
    color:var(--color-initial);
    padding: 1rem;
    line-height: 2rem;
}

.form form{
    max-width: 50rem;
    margin: 0rem auto;
}
.form form label{
    
    line-height: 3rem;
    color: var(--color-textclassic);
    margin: 0.5rem auto;

}
.form form input, .form form label{
    display: block;
}

.form form input{
    background-color: var(--color-primary-boosted);
    color: var(--color-textclassic);
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    opacity: 70%;
}

.form form input:last-child{
    margin: 5rem auto;
    color: var(--color-initial);
    background-color: var(--color-primary-boosted);
    cursor: pointer;
    width: 50%;
    font-size: 1.6rem;
}
.bouton-form{
    max-width: 100%;
    text-align: center;
    margin-bottom: .1rem;
    line-height: 3rem;
    color: var(--color-initial);
    
    display: block;
    margin: 0 auto;
    width: 15rem;
    font-size: inherit;
}
@media screen and (max-width: 450px){
    header h1{
        font-size: 2rem;
    }
    main>section>p{
        font-size: 0.8rem;
        max-width: 80%;
    }
    .bouton{
        width: 10rem;
        font-size: 1rem;
    }
    footer{
        font-size: 1.2rem;
    }
    .form h2{
        font-size: 1.2rem;
    }
    .form form label{
        font-size: 1.2rem;
    }
    .form form input{
        padding: .8rem;
    }
}